.depot {
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }

  .depot label {
    display: block;
    color:darkseagreen;
    font-weight: bold;
    margin-bottom: 0.5rem;
    
  }

  .depot input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius:50px;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }


.depot h2{
    text-align:center;
    margin:0 auto;
    color: white;
}

.depot input:focus {
    outline: none;
    border-color: #4f005f;
  }